<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Math Olympiad<small>Participant's list</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <% let success = "Data has been deleted succesfully"%>
        <% let success2 = "Payment complete succesfully"%>
        <% let success3 = "Participant selected succesfully"%>
        
        
        <%if(message.length>0){if(message==success || message==success2 || message==success3){%>
        <div class="alert alert-success"><%=message%></div>
        <%}else{%>
        <div class="alert alert-danger"><%=message%></div>
        <%}%> <%}%>
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box table-responsive">
              <p class="text-muted font-13 m-b-30">
                Responsive is an extension for DataTables that resolves that
                problem by optimising the table's layout for different screen
                sizes through the dynamic insertion and removal of columns from
                the table.
              </p>

              <table
                id="datatable-responsive"
                class="table table-striped table-bordered dt-responsive nowrap"
                cellspacing="0"
                width="100%"
              >
                <thead>
                  <tr>
                    <th>Team Name</th>
                    <th>Institution</th>
                    <th>Team Lead Name</th>
                    <th>Team Lead Email</th>
                    <th>Team Lead Contact</th>
                    <th>Team Lead T-Shirt</th>
                    <th>Team Member2 Name</th>
                    <th>Team Member2 Email</th>
                    <th>Team Member2 Contact</th>
                    <th>Team Member2 T-Shirt</th>
                    <th>Team Member3 Name</th>
                    <th>Team Member3 Email</th>
                    <th>Team Member3 Contact</th>
                    <th>Team Member3 T-Shirt</th>
                    <th>Team Member4 Name</th>
                    <th>Team Member4 Email</th>
                    <th>Team Member4 Contact</th>
                    <th>Team Member4 T-Shirt</th>
                    <th>Team Member5 Name</th>
                    <th>Team Member5 Email</th>
                    <th>Team Member5 Contact</th>
                    <th>Team Member5 T-Shirt</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Selected</th>
                    <th>Payment<br>Status</th>
                    <th>Payment<br>Done</th>
                    <th>Select</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(participants.length>0){
                  participants.forEach(participant=>{%>
                  <tr>
                    <td><%= participant.team_name %></td>
                    <td><%= participant.institution %></td>
                    <td><%= participant.team_lead_name %></td>
                    <td><%= participant.team_lead_email %></td>
                    <td><%= participant.team_lead_contact %></td>
                    <td><%= participant.team_lead_tshirt %></td>
                    <td><%= participant.team_member2_name %></td>
                    <td><%= participant.team_member2_email %></td>
                    <td><%= participant.team_member2_contact %></td>
                    <td><%= participant.team_member2_tshirt %></td>
                    <td><%= participant.team_member3_name %></td>
                    <td><%= participant.team_member3_email %></td>
                    <td><%= participant.team_member3_contact %></td>
                    <td><%= participant.team_member3_tshirt %></td>
                    <td><%= participant.team_member4_name %></td>
                    <td><%= participant.team_member4_email %></td>
                    <td><%= participant.team_member4_contact %></td>
                    <td><%= participant.team_member4_tshirt %></td>
                    <td><%= participant.team_member5_name %></td>
                    <td><%= participant.team_member5_email %></td>
                    <td><%= participant.team_member5_contact %></td>
                    <td><%= participant.team_member5_tshirt %></td>
                    <td><%= participant.date %></td>
                    <td><%= participant.total %></td>
                    <td><%= participant.paid %></td>
                    <td>
                      <% if (participant.selected==true){%>
                      <p style="color: green">Yes</p>
                      <%}else{%>
                      <p style="color: brown;">No</p>
                      <%}%>
                    </td>

                    <td>
                      <% if (participant.paid==participant.total){%>
                      <p style="color: green">Successful</p>
                      <%}else{%>
                      <p style="color: brown;">Incomplete</p>
                      <%}%>
                    </td>

                    <td>
                      <% const paymentDoneURL = 'payment_done/' +
                      participant._id %>
                      <a href="<%= paymentDoneURL %>"
                        ><i class="fa fa-money"></i>
                        <span class="fa fa-chevron"></span>
                    </td>

                    <td><% const selectParticipantURL = 'select_participant/' +
                      participant._id %>
                      <a href="<%= selectParticipantURL %>"
                        ><i class="fa fa-check"></i>
                        <span class="fa fa-chevron"></span></td>
                    <td>
                      <% const editURL = 'edit/' +
                      participant._id %>
                      <a href="<%= editURL %>"
                        >Edit
                        </span>
                    </td>

                    <td>
                      <% const deleteURL = 'delete/' +
                      participant._id %>
                      <a href="<%= deleteURL %>"
                        ><i class="fa fa-trash"></i>
                        <span class="fa fa-chevron"></span>
                      </a>
                    </td>
                  </tr>
                  <% }) } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
