<div class="right_col" role="main">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Math Olympiad <small>Edit Participants</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          
          <% let success = "Data fetch success now edit participant"%>
          <%if(message.length>0){if(message==success){%>
          <div class="alert alert-success"><%=message%></div>
          <%}else{%>
          <div class="alert alert-danger"><%=message%></div>
          <%}%> <%}%>
          <% const URL = 'edit_participant_form/' +
                      participant[0]['_id'] %>
          <form
            method="POST"
            action="<%= URL %>" 
            id="demo-form2"
            data-parsley-validate
            class="form-horizontal form-label-left"
          >
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="name"
                >Name<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  id="name"
                  name="name"
                  required="required"
                  class="form-control"
                  value="<%= participant[0]['name'] %>"
                />
              </div>
            </div>
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="email"
                >Email<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="email"
                  id="email"
                  name="email"
                  required="required"
                  class="form-control"
                  value="<%= participant[0]['email'] %>"
            
                />
              </div>
            </div>
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="contact"
                >Contact No<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  id="contact"
                  name="contact"
                  required="required"
                  class="form-control"
                  value="<%= participant[0]['contact']%>"
                
                />
              </div>
            </div>
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="institution"
                >Institution<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  id="institution"
                  name="institution"
                  required="required"
                  class="form-control"
                  value="<%= participant[0]['institution'] %>"
               
                />
              </div>
            </div>
            <%if(participant[0]['paid']!=participant[0]['total']){%>
              <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="category"
                >Category<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <select class="form-control" id="category" name="category" >
                  <option value="<%= participant[0]['category']%>"><%= participant[0]['category']%></option>
                  <option value="school">School</option>
                  <option value="college">College</option>
                  <option value="university">University</option>
                </select>
              </div>
            </div>
            <%}%>
            
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="tshirt"
                >T-shirt<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <select class="form-control" id="tshirt" name="tshirt">
                  <option value="<%= participant[0]['tshirt']%>"><%= participant[0]['tshirt']%></option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                  <option value="xl">XL</option>
                  <option value="xxl">XXL</option>
                  <option value="xxxl">XXXL</option>
                </select>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="item form-group">
              <div class="col-md-6 col-sm-6 offset-md-3">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Edit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
